pattern_test/rotation_test.go
pattern_test/export.go
pattern_test/left.png
pattern/c_down.png
pattern/c_right.png
pattern/c_left.png
pattern/c_up.png
pattern/t_down.png
pattern/t_left.png
pattern/t_right.png
pattern/t_up.png
pattern_test/right.png
pattern_test/t_down.png
pattern_test/t_left.png
pattern_test/t_up.png
pattern_test/rotation_te.go
output.png
WFC.go
tcp/blank.png
tcp/c_down.png
tcp/t_down.png
WFC.go
image/c_down.png
image/c_up.png
image/c_left.png
image/c_right.png
image/t_down.png
image/t_left.png
image/t_right.png
image/t_up.png
image/blank.png
image/cross.png
